---
title: Notes
layout: default
---

<h1 style="text-align:center">{{ page.title }}</h1>

<article>
   {% include note.html 
      date="Dec 1, 2024, 11:47 PM" 
      content="I need to have <a href='/writings/books-and-idols'>a single goal for a given moment</a>. It should reflect some established weakness of my character.
      <br><br>
      Since I am fourteen or so, I fail to establish the schedule of waking up at the exact same time every day. This self-limitation is not a right way for living, yet if I am to think of a single psychological challenge, then that would be it. I have an inexplicable feeling that if my will could continuously follow this single habit, then nothing would be left beyond my capacity.
      <br><br>
      My other goals, such as publishing research paper, achieving complete awareness of people, surroundings, and myself, becoming fit, studying deeply the main works of literature, philosophy, music, art, and cinema, posting on this website regularly, writing a book &ndash; are all worth chasing. Yet they are nothing when compared to the goal of mastering the sleep.
      <br><br>
      I should not get distracted to anything else. All other goals are the side effects of a single main goal. For me this goal is achieving mastery over my sleep, for a different person it could be getting less angry, yet for the other, to become bolder or less anxious. We all have shortcomings. My shortcoming is self-inflicted."  
   %}
   {% include note.html 
      date="Dec 1, 2024, 11:16 PM" 
      content="There are important things I should be doing, yet I am engaged in fruitless aesthetic matters.
      <br><br>
      But I guess I did right with creating notes. Instead of writing a lengthy post, I can now publicize my rushed ideas without spending much time to edit them.
      <br><br>
      I will sometimes update or delete the notes. I should strain my will so that these notes will not become waste of time. I should not publish an unnecessary note, each note should be completely honest, and have some use and purpose."  
   %}
   {% include note.html 
      date="Dec 1, 2024, 10:35 PM" 
      content="Testing out pin, tags, and image. Refreshing page dynamically now. Sharing still does not work properly."  
      pin=true
      tags="test,notes,badambura"
      image="/assets/img/lyndon.jpg"
   %}
   {% include note.html 
      date="Dec 1, 2024, 3:39 AM" 
      content="Testing Notes. Didn't want to open X or Threads account. Inspired by <a href='https://kevquirk.com/notes'>KQ</a>."  
   %}
</article>