<nav>
  {% if page.lang == "en" %}
  <div class="nav-row">
    {% if page.translation %}
      <a href="{{ page.translation }}">AZ <i class="fas fa-language"></i></a>
    {% else %}
      <a href="/az">AZ <i class="fas fa-language"></i></a>
    {% endif %}
    <!-- <a href="{{ '/' | relative_url }}">{{ site.nav.home[page.lang] }}</a> -->
    <a href="{{ '/writings.html' | relative_url }}">{{ site.nav.writings[page.lang] }}</a>
    <!-- <a href="{{ '/progress.html' | relative_url }}">Progress</a>  -->
    <a href="{{ '/notes.html' | relative_url }}">Notes</a>
    <a style="text-decoration: underline;" href="{{ '/csci4701' | relative_url }}">CSCI 4701</a>
  </div>
  <!-- <div class="nav-row"> -->

  <!-- </div>  -->
  {% elsif page.lang == "az" %}
  <div class="nav-row">
    {% if page.translation %}
      <a href="{{ page.translation }}">EN <i class="fas fa-language"></i></a>
    {% else %}
      <a href="/">EN <i class="fas fa-language"></i></a>
    {% endif %}
    <!-- <a href="{{ '/az' | relative_url }}">{{ site.nav.home[page.lang] }}</a> -->
    <a href="{{ '/az/writings.html' | relative_url }}">{{ site.nav.writings[page.lang] }}</a>
    <!-- <a href="{{ '/notes.html' | relative_url }}">Qeydlər</a> -->
  </div>
  {% endif %}  
</nav>


<style>
  nav {
    margin-top: 10px;
    display: flex;
    gap: 1em;
  }

  nav a {
    display: inline-block;
    /* margin-left: 15px; */
    /* font-family: Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-transform: uppercase; */
    font-size: 16px;
    /* padding: 10px; */
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
    opacity: 0.7;
  }

  nav a:hover {
    color:#556a9a; 
  }

  .nav-row {
    display: flex;
    gap: 1em;
  }

  @media screen and (max-width: 768px) {
    nav {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav a {
      font-size: 18px;
    }
  }
</style>