<nav>
    {% if page.lang == "en" %}
      <a href="/az{{ page.url }}">AZ <i class="fas fa-globe"></i></a>
      <a href="{{ '/' | relative_url }}">{{ site.nav.home[page.lang] }}</a>
      <a href="{{ '/writings.html' | relative_url }}">{{ site.nav.writings[page.lang] }}</a>
      <a href="{{ '/notes.html' | relative_url }}">Notes</a>
      <a href="{{ '/progress.html' | relative_url }}">Progress</a>
    {% elsif page.lang == "az" %}
      <a href="{{ page.url | replace_first: '/az', '' }}">EN <i class="fas fa-globe"></i></a>
      <a href="{{ '/az' | relative_url }}">{{ site.nav.home[page.lang] }}</a>
      <a href="{{ '/az/writings.html' | relative_url }}">{{ site.nav.writings[page.lang] }}</a>
    {% endif %}  
</nav>