<div class="post-navigation">
    <div class="previous-post">
      {% if page.previous %}
        <button onclick="window.location.href='{{ page.previous.url | relative_url }}'" class="prev">← {{ page.previous.title }}</button>
      {% endif %}
    </div>
    <div class="next-post">
      {% if page.next %}
        <button onclick="window.location.href='{{ page.next.url | relative_url }}'" class="next">{{ page.next.title }} →</button>
      {% endif %}
    </div>
  </div>

  <style>
    
.post-navigation {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  margin-top: 50px;
  margin-bottom: 50px;
}
.previous-post button,
.next-post button {
  border: 2px solid rgb(251, 254, 255);
  border-radius: 7px;
  color: #f3f7f2;  
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(83, 176, 190);
}
.previous-post button:hover,
.next-post button:hover {
  background-color: rgb(61, 146, 159);
  color:white;
  /* border-color:  #56595a;  */
}
  </style>