<div class="toc">
    <h2 class="toc-heading">
        {% if page.lang == "en" %}
            Table of Contents
        {% elsif page.lang == "az" %}
            Mündəricat  
        {% endif %}
    </h2>
    <ul>
        {% capture rendered_content %}{{ page.content | markdownify }}{% endcapture %}
        {% assign headers = rendered_content | split: '<h' %}
    
        {% assign show_subheadings = include.show_subheadings %}
        {% if show_subheadings == nil %}
            {% assign show_subheadings = true %}
        {% endif %}
    
        {% for header in headers %}
            {% if header contains '</h2>' %}
                {% assign parts = header | split: '>' %}
                {% assign tag_complete = 'h' | append: parts[0] %}
                {% assign header_info = parts[1] | split: '</' %}
                {% assign header_text = header_info[0] %}
                {% assign header_level = tag_complete | slice: 1, 1 %}
                {% assign id_index = tag_complete | split: 'id="' %}
                {% if id_index.size > 1 %}
                    {% assign id_part = id_index[1] | split: '"' %}
                    {% assign header_id = id_part[0] %}
                {% endif %}
                <li class="toc-item toc-h{{ header_level }}"><a href="#{{ header_id }}">{{ header_text }}</a></li>
            {% elsif show_subheadings %}
                {% if header contains '</h3>' or header contains '</h4>' or header contains '</h5>' or header contains '</h5>' or header contains '</h6>' %}
                    {% assign parts = header | split: '>' %}
                    {% assign tag_complete = 'h' | append: parts[0] %}
                    {% assign header_info = parts[1] | split: '</' %}
                    {% assign header_text = header_info[0] %}
                    {% assign header_level = tag_complete | slice: 1, 1 %}
                    {% assign id_index = tag_complete | split: 'id="' %}
                    {% if id_index.size > 1 %}
                        {% assign id_part = id_index[1] | split: '"' %}
                        {% assign header_id = id_part[0] %}
                    {% endif %}
                    <li class="toc-item toc-h{{ header_level }}"><a href="#{{ header_id }}">{{ header_text }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    
</div>

<style>

    .toc {
        margin-top: 20px;
        border: solid 1px #cccccc;
        background-color: #fafafa;
        border-radius: 8px;
        padding: 1em;
    }

    .toc ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .toc a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: 0.2em 0;
        transition: all 0.3s;
    }

    .toc a:hover {
        padding-left: 3px;
        color: #0a164c;
        background-color: #f0f3ff;
    }

    .toc-heading {margin-top: 0; }
    .toc-h3 { padding-left: 1em; }
    .toc-h4 { padding-left: 1.5em;  }
    .toc-h5 { padding-left: 2em;  }
    .toc-h6 { padding-left: 2.5em;  }

</style>