.post .title {
  display: flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
}

.post h1 {
  margin-bottom: 0;
}

.post-meta {
  /* font-family: 'Roboto', sans-serif; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #888;
  display: block; 
}

.post a {
  color: #6275a0;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.post a:hover {
  color: #35425f;
}

.writings {
  display: flex;
  flex-direction: column;
 }
.writing {
  /* display: flex; */
  /* gap: 1em; */
  /* justify-content: space-between; */
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
}
.writing a {
  text-decoration: none;
  color: #6275a0;
  font-weight: 600;
}
.writing a:hover {
  color:#2a3960;
}


@media screen and (max-width: 700px) {
  .writings {
    gap: 1em;
   }
  .writing a {
    max-width: 270px;
   }

}
