/* assets/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body, header, footer {
  background-color: #fdfdfd; 
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

header {
  /* padding: 10px; */
  padding-right: 100px;
  padding-left: 100px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

main {
  max-width: 700px; 
  margin: 10px auto;
  padding: 0 10px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  /* text-transform: uppercase; */
  color: #403f3f;
  margin-bottom: 10px;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 60px;
  padding: 20px 0;
  font-size: 14px; 
  text-align: center;

}

p a {
  text-decoration: none;
  color: #556a9a;
}
p a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%; 
  height: auto; 
}


p, li, ol li, .table {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.footnotes li, .footnotes p {
  font-size: 1em;
}

.logo a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  color: #6e6e6e;
  transition: 0.3s ease-in-out;
}
.logo a:hover {
  color: #333333;
  text-decoration: none;
}

header .site-info {
  text-align: left;
}

blockquote {
  /* border-left: 4px solid #3498db; 
  background-color: #f0f7fc;
  padding: 5px;
  padding-left: 20px; 
  margin: 10px 0;
  font-style: italic;
  border-radius: 8px;
  font-size: 1em; */

  background-color: #f0f7fc;
  border-left: 5px solid #3498db; 
  padding: 5px 5px 5px 15px;
  margin: 20px 0;
  font-size: 1em;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
blockquote p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

.inline-figure {
  max-width:300px; 
  margin: 0 auto;
  float:left; 
  padding: 1em 1em 1em 0px;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: transparent; */
  border-radius: 50%;
  border: 2px solid  #6ab1b4;
  font-size: 15px;
  width: 50px; 
  height: 50px; 
  padding: 0; 
  cursor: pointer;
  transition: 0.3s ease-in-out;
  /* color:#888; */
  color: white;
  opacity: 0.5;
  background-color:  #6ab1b4;
}

#scroll-btn:hover {
  opacity: 1;
}

table {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}


a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}









@media screen and (max-width: 568px) {
  .inline-figure {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    /* text-align: center; */
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    text-align: center;
    font-size: 1.3em; 
  }

  h1 {
    font-size: 2.1em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }
}
