/* assets/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body, header, footer {
  background-color: #fdfdfd; 
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
}

header {
  /* padding: 10px; */
  padding-right: 100px;
  padding-left: 100px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

nav {
  margin-top: 10px;
  display: flex;
  gap: 1em;
}

nav a {
  display: inline-block;
  /* margin-left: 15px; */
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  /* padding: 10px; */
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
  opacity: 0.7;
}

nav a:hover {
  color:#556a9a; 
}

main {
  max-width: 700px; 
  margin: 10px auto;
  padding: 0 10px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  /* text-transform: uppercase; */
  color: #403f3f;
  margin-bottom: 10px;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 60px;
  padding: 20px 0;
  font-size: 14px; 
  text-align: center;

}

p a {
  text-decoration: none;
  color: #556a9a;
}
p a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%; 
  height: auto; 
}

p, li, .table {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.footnotes li {
  font-size: 0.9em;
}



.logo a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  color: #6e6e6e;
  transition: 0.3s ease-in-out;
}
.logo a:hover {
  color: #333333;
  text-decoration: none;
}


header .site-info {
  text-align: left;
}

header nav {
  /* order: 1;  */
  /* margin-left: auto; */
}



blockquote {
  border-left: 4px solid #3498db; 
  padding-left: 20px; 
  margin: 10px 0;
  font-style: italic; 
}


figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #888;
  font-size: 15px;
  width: 50px; 
  height: 50px; 
  padding: 0; 
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color:#888;
  opacity: 0.5;
}

#scroll-btn:hover {
  opacity: 1;
  color: white;
  background-color: #888;

}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}


a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    /* text-align: center; */
    padding-right: 20px;
    padding-left: 20px;
  }

  .logo {
    text-align: center;
    font-size: 1.3em; 
  }

  nav {
    margin-bottom: 20px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

  nav a {
    font-size: 18px;
  }
}
