---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <!-- Code Highlighter (couldn't fix rouge)-->
  <!-- CREATE code.html layout to import and style <code> maybe -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script> -->
</head>
<article class="post">
  <div class="title">
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <p class="post-meta">Published on {{ page.date | date: "%b %e, %Y" }}</p>
  </div>

  {{ content }}
</article>


