---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
</head>

<article class="post">
  <div class="title">
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <p class="post-meta">
      {% if page.lang == "az" %}
      {% assign months_az = "Yan,Fev,Mart,Apr,May,İyun,İyul,Avq,Sen,Okt,Noy,Dek" | split: "," %}
        {% assign month = page.date | date: "%-m" | minus: 1 %}
        {{ page.date | date: "%e" }} {{ months_az[month] }}, {{ page.date | date: "%Y" }} ·
      {% else %}
        {{ page.date | date: "%b %e, %Y" }} ·
      {% endif %}
      {% assign words = content | number_of_words %}
      {{ words | divided_by: 250 }} {% if page.lang == "az" %} dəq mətn {% else %} min read {% endif %}
    </p>  
  </div>  

  {% if page.toc == true %}
    {% include toc.html %}
  {% endif %}

  {{ content }}

  {% include smshare.html %}

  {% include postnav.html %}

  {% include giscus.html %}


</article>
